// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-visual {
  background-image: url(top_page.jpg);
  background-position: center;
  display:flex;
  justify-content: center;
  background-size: cover;
  height: 350px;
  width: 100%;
}

.mv-text {
  background-color:rgba(255,255,255,0.5);
  height: 300px;
  width: 500px;
  padding-top: 120px;
  margin-top: 30px;
}
