<div class="container">
  <div class="row  d-flex align-items-center justify-content-center" style="height:500px;">
    <%= image_tag('figure_ojigi', size: '200x200') %>
    <h2>ご注文ありがとうございました!</h2>
     <%= image_tag('figure_ojigi', size: '200x200') %>
  </div>
</div>